<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" id="myElement">
    	<div class="col-md-7 col-md-offset-2">
        <h2 style="text-align:center;"><%= obj[num].question %></h2>
        </div>

    </div>
    <p style="text-align:center;">Pyyhkäise oikealle jos olet samaa mieltä, vasemmalle jos olet eri mieltä. Klikkaa jos haluat ohittaa kysymyksen.</p>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
<script>

var myElement = document.getElementById('myElement');

var hammer = new Hammer(myElement);

var mc = new Hammer(myElement);

mc.on("panleft panright tap", function(ev) {
   window.location.href = "/";
});

</script>

</body>
</html>
